.header {
  color: #fff;
  margin-bottom: 2rem;
}

.edit-name-input {
  display: flex;
  justify-content: center;
  input {
    border-radius: 5px;
    font-size: 17px;
  }
}

.edit-name-change__save,
.edit-name-change__cancel,
.edit {
  padding: 10px;
  margin: 0 10px;
  width: 100px;
}
